body {
	width: 200px;
	height: 500px;
	overflow-y: scroll;
}

.form-control {
	height: 30px;
	padding: 10px 10px;
}

#follows {
	list-style: none;
}

#extension-container {
	margin-top: 15px;
}

.circle {
  width: 10px;
  height: 10px;
  margin-top: 7px;
  margin-right: 5px;
  position: absolute;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

.channel-name {
	margin-left: 14px;
}